.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .task-item {
    background: #fff;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 40px;
  }
  .task-item.editing {
    transition: all 0.3s;
  }
  
  .checkbox-container {
    margin-right: 1rem;
  }
  
  .task-editing-form {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    max-height: 40px; /* veya istediğiniz bir değer */
    transition: all 0.3s;
  }
  
  .task-edit-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 2px solid #BDBDBD;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .color-selector {
    display: flex;
    gap: 5px;
  }
  
  .color-choice {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  
  .color-choice.selected {
    border: 2px solid #000;
  }
  
  .task-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .task-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  

  
  .delete-btn {
    float: right;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  

  
  /* Dark mode styles */
  body.dark-mode .task-item {
    background: #474747;
    color: #f0f0f0;
  }
  
  body.dark-mode .task-edit-input,
  body.dark-mode select {
    border-color: #f0f0f0;
    background: #333;
    color: #f0f0f0;
  }
  
  body.dark-mode .delete-btn {
    background-color: #474747;
  }
  
  body.dark-mode .delete-btn:hover {
    background-color: #555;
  }
  
  .task-item:hover {
    background-color: #f3f3f3;
  }
  