*, *:before, *:after {
  box-sizing: border-box;
} 
body {
  background-color: #f0f0f0; /* Yumuşak bir arka plan rengi */
  color: #333; /* Okunabilirlik için koyu metin rengi */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s;
}
select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #BDBDBD;
  border-radius: 8px;
  background-color: white;
  transition: border-color 0.3s;
}
body.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.container {
  margin-top: 100px;
 width: 600px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
}



.dark-mode .task-item:hover {
  background: #555;
}

.delete-btn {
  float: right;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.dark-mode .delete-btn {
  color: #f0f0f0;
}
